@page "/{**path}"
@namespace NCVC.App.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject NCVC.App.Services.EnvironmentVariableService EV

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@EV.GetTitle()</title>
    <base href="~/" />

    <link rel="stylesheet" type="text/css" href="node_modules/semantic-ui-css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="node_modules/@@fortawesome/fontawesome-free/css/all.min.css">
    <link href="css/site.css" rel="stylesheet" />

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="js/site.js"></script>
    <script src="node_modules/semantic-ui-css/semantic.min.js"></script>
    <script src="node_modules/@@fortawesome/fontawesome-free/js/all.min.js"></script>

    <script>
        function modalControl(target, action) { $(target).modal(action); }
    </script>
    <style type="text/css">

        .ui.main {
            margin-top: 6em;
            margin-bottom: 3em;
            margin-left: 3em;
            margin-right: 3em;
        }

        .tt {
            font-family: Courier, monospace;
        }

        .ace-editor {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
